
{{ 'age-verifier.css' | asset_url | stylesheet_tag }}
<script src="{{ 'age-verifier.js' | asset_url }}" defer></script>

  <div id="age-verification-overlay" style="display: none;">
    <div id="age-verification-popup">
      <h3>{{ settings.age_verifier_title }}</h3>
      <p>{{ settings.age_verifier_message }}</p>
      <button id="age-confirm">
        {{ settings.age_verifier_confirm_text }}
      </button>
      <button id="age-deny">
        {{ settings.age_verifier_deny_text }}
      </button>
    </div>
  </div>